<!DOCTYPE html>
<html>
<head>
 <div id="top">
  <a href="key.html.erb">
      <li class="instargram">
        <img src="door.png">
      </li>
  </a>
</div>

  
  
<body>
<div id="favorite">
  <div class="inner">
    <h1 class="title">Key words</h1>
    <h3 class="sub-title">reflect Suzn</h3>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="/img/freedom.png">
        <h1>freedom</h1>
      </div>
      <h3>freedom</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="child2.png">
        <h1>childlike</h1>
      </div>
      <h3>childlike</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="dream.png">
        <h1>dream</h1>
      </div>
      <h3>dream</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="magic.png">
        <h1>magical</h1>
      </div>
      <h3>magical</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="/img/nature2.png">
        <h1>Nature</h1>
      </div>
      <h3>Nature</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="ideal.png">
        <h1>Idealsim & Practicalism</h1>
      </div>
      <h3>Idealsim & Practicalism</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="timespace.png">
        <h1>time to space</h1>
      </div>
      <h3>time to space</h3>
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="sense.png">
        <h1>Sensitivity</h1>
      </div>
      <h3>Sensitivity</h3>
    </div>
      <div class="favorite-contents">
      <div class="img-hover">
        <img src="/img/philan.png">
        <h1>PHILANTHROPISM</h1>
      </div>
      <h3>PHILANTHROPISM</h3>
    </div>
     <div class="favorite-contents">
      <div class="img-hover">
        <img src="loving.png">
        <h1></h1>
      </div>
      <h3>So..Loving now</h3>
    </div>
  </div>
</div>

</body>
  </head>
</html>


