
<div id="favorite">
  <div class="inner">
    <h1 class="title">Key words</h1>
    <h3 class="sub-title">reflecting Suzn</h3>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="/img/freedom.png">
        <h1>freedom</h1>
      </div>

    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="child2.png">
        <h1>childlike</h1>
      </div>
     
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="dream.png">
        <h1>dream</h1>
      </div>
    
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="magic.png">
        <h1>magical</h1>
      </div>
 
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="/img/nature2.png">
        <h1>Nature</h1>
      </div>
     
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="ideal.png">
        <h1>Idealsim & Practicalism</h1>
      </div>
      
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="timespace.png">
        <h1>time to space</h1>
      </div>
     
    </div>
    <div class="favorite-contents">
      <div class="img-hover">
        <img src="sense.png">
        <h1>Sensitivity</h1>
      </div>
     
      
    </div>
      <div class="favorite-contents">
      <div class="img-hover">
        <img src="/img/philan.png">
        <h1>PHILANTHROPISM</h1>
      </div>

    </div>
     <div class="favorite-contents">
      <div class="img-hover">
        <img src="loving.png">
        <h1></h1>
      </div>
      <h3>So..Loving now</h3>
    </div>
  </div>
</div>
<div id="favorite">
  <div class="inner">
<h1 class="title">Curious?</h1>
    <a href="comment">
    <h3 class="sub-title">Say something!</h3>
</a>

