
<div id="top">
  <a href="/favorite">
  <img src="door.png">
  </a>
</div>


<footer>
  <ul class="sns">
    <a href="http://www.facebook.com/suzn.jung">
      <li class="facebook">
        <img src="/img/sns-facebook.png">
      </li>
    </a>
    <a href="https://instagram.com/suznjung">
      <li class="instargram">
        <img src="/img/sns-instargram.png">
      </li>
    </a>
    
    <a href="https://twitter.com/sz__sz">
      <li class="twitter">
        <img src="/img/sns-twitter.png">
      </li>
    </a>
    
  </ul>
  </ul>
  <h3>Copyright &copy; 2015 SUZN</h3>
</footer>
<a href="#top" class="top-btn">
  <img src="/img/top.png">
</a>
